page-sign-up {
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  .invalid {
    background-color: rgba(255, 23, 34, 0.11);
    border-bottom: 2px solid #ea6153;
  }

}
